{% extends 'format.html' %}
{% block button %}<a href="home"><button class="btn btn-success">Logout</button></a>{% endblock %}
{% block body %}

  <div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display">Choose your route</h1>
     <form action="/signup" name="registration" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="from">From</label>
                <input type="text"  name="from" class="form-control" id="from" aria-describedby="emailHelp" placeholder="from">
            </div>
            <div class="form-group">
                <label for="to">To</label>
                <input type="text"  name="to" class="form-control" id="to" aria-describedby="emailHelp" placeholder="to">
            </div>
         <button type="submit" class="btn btn-primary">Find Buses</button>
     </form>
    </div>
  </div>
    
{% endblock %}